/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* global */
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  max-width: 1600px;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* hero section */
.top-background {
  z-index: -1;
  position: absolute;
  top: 0;
}
.top-square {
  background-color: #3d65c2;
  width: 100%;
  height: 20vh;
}

.top-triangle {
  width: 100%;
  height: 0;
  border-top: 250px solid #3d65c2;
  border-right: 100vw solid transparent;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.portrait {
  position: relative;
  max-width: 40%;
  border-radius: 8px;
  border: 2px solid darkgrey;
}

.portrait img {
  border-radius: 8px;
}

.profile-name {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #63636349;
  width: 100%;
}

.aboutme {
  background-color: aliceblue;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 3px 3px 15px -5px rgba(197, 197, 197, 0.651);
  z-index: -1;
  max-width: 50%;
}

.about-icon {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 1.75rem;
}

/* portofolio section */
#portofolio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.porto-title {
  font-size: 2rem;
  font-weight: 600;
}

.porto-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.porto-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  box-shadow: 2px 3px 15px 1px rgba(129, 129, 129, 0.651);
}

.project-title {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.project-icon {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  font-size: 1.2rem;
}

.project-desc {
  padding: 2rem;
}

/* footer section */

footer {
  background-color: #3d65c2;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.footer {
  max-width: 1600px;
  padding: 2rem 4rem;
  display: flex;
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}

.phone,
.mail,
.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-icons {
  font-size: 1.5rem;
}

.footer-image {
  width: 1fr;
  max-width: 60%;
}
